@import "bootstrap.less";

[class^="icon-"], [class*=" icon-"], .nav-pills > .active > a > [class^="icon-"]{
    background:none;
}

.scale-img {
    width:100%;
    height:5px;
    border-style:solid;
    border-width:1px;
    -moz-box-shadow:    1px 1px 3px 3px #ccc;
    -webkit-box-shadow: 1px 1px 3px 3px #ccc;
    box-shadow:         1px 1px 3px 3px #ccc;
}

.scale-img tbody tr td:nth-child(odd) {
    background-color: #000000;
    width:12.5%;
}

div.map-well {
    position:relative;
    margin-top:5px;
    margin-bottom:5px;
    text-align:center;
}

div.map-canvas {
    height:400px;
    width:100%;
}

div.map-buttons {
    bottom:25px;
    float: right;
    margin-right: 10px;
}

input.region-search {
    bottom:25px;
    display: block;
    position:absolute;
    width : 175px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

input.region-search:focus {
  width: 50%;
}
//
///body {
//    margin: 0;
//    font-family: 'Open Sans', sans-serif;
//    font-size: 14px;
//    line-height: 20px;
//    background-color:#ECF0F1;
//
//    /*background-image: url('../img/lightpaperfibers.png');*/
//}
//
//.well {
//    border-radius: 8px;
//    /*background-image: url('../img/cardboard_flat.png');*/
//    /*background-color: #2C3E50;*/
//    /*background-color: rgba(22, 160, 133, 0.46)*/
//    /*background-color: rgba(44, 62, 80, 0.46)*/
//    background-color: rgba(52, 73, 94, .3)
//
//}
//
//button.btn-primary, button.btn-success {
//    background-color: #013435;
//
//}
//.nav-pills>.active>a, .nav-pills>.active>a:hover {
//    color: #ffffff;
//    background-color: #013435;
//}
//
//.nav-pills li.marked {
//    background-color: #C1C8BE;
//}
//
//.nav-pills li.ajax_error {
//    border-style: solid;
//    border-color: #cc0005;
//    border-width: 2px;
//    border-radius: 5px;
//}
//
.carousel-caption-mouse {
    left:0;
    right: 0;
    bottom:0;
    position:absolute;
    height:50px;
}

//input,button,select,textarea{font-family: 'Open Sans', sans-serif;}

//a {
//    /*color: #16A085;*/
//    color: #442419;
//    text-decoration: none;
//}

//.nav-header {
//    font-size: 20px;
//}
//.nav-list > li > a ,
//.nav-list > li > a:hover {
///*,*/
///*.nav-list {*/
//    margin-left: -15px;
//    margin-right: -15px;
//    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
//    font-size: 17px;
//    color:#2B5A5A;
//    background-color: rgba(52, 73, 94, .3);
//    border-radius: 5px;
//}
//
//.nav-list > .active > a,
//.nav-list > .active > a:hover {
//    color: #ffffff;
//    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
//    background-color: #2B5A5A;
//}
//
//a:hover {
//    /*color: #437B3B;*/
//    color: #27AE60;
//    text-decoration: underline;
//}
//
//.footer .navbar-inner{
//    /*background-image: url('../img/cardboard_flat.png');*/
//    background-color: #16A085;
//}
//.footer a {
//    text-shadow: 0px 1px 1px #fff;
//    color: #2B5A5A;
//    font-size: 15px;
//}


//table.table tbody {
//    border-top-width: 1px;
//    border-top-color: #000;
//}
//
//.clicklink:hover {
//    cursor:pointer
//}
//ul.nav-tabs li:hover{
//    cursor:pointer
//}
//.rating {
//    unicode-bidi: bidi-override;
//    direction: rtl;
//    font-size: 30px;
//}
//.rating span.star {
//    font-family: FontAwesome;
//    font-weight: normal;
//    font-style: normal;
//    display: inline-block;
//}
//.rating span.star:hover {
//    cursor: pointer;
//}
//.rating span.star:before {
//    content: "\f006";
//    padding-right: 5px;
//    color: #999999;
//}
//.rating span.star:hover:before,
//.rating span.star:hover ~ span.star:before {
//    content: "\f005";
//    color: #e3cf7a;
//}
//.rating span.star:hover {
//    cursor: pointer;
//}
//.rating span.voted:before,
//.rating span.voted ~ span.star:before {
//    content: "\f005";
//    color: #e3cf7a;
//}
//
///*.col1 {*/
//    /*width: 45%;*/
//    /*margin:10px,*/
//    /*border-top: 4px solid #999999;*/
//    /*padding-top:10px;*/
//    /*float: left;*/
//
///*}*/
///*.col2 {*/
//    /*width: 50%;*/
//    /*margin: 0px auto;*/
///*}*/
//
//.col3 {
//    width: 700px;
//    border-top: 4px solid #999999;
//    padding-top:10px;
//    float: left;
//
//}
//
//table.list-headers {
//    width:100%;
//}
//table.list-headers tr td {
//    padding-left: 20px;
//}
//
//
///*.menu_head {*/
//    /*margin-bottom: 10px;*/
//    /*width:99%;*/
//    /*height:45px;*/
//    /*z-index: 10;*/
//    /*padding: 5px;*/
//    /*border-radius: 8px;*/
//    /*background-color: #ededed;*/
//    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237,237,237, 0.5)), color-stop(100%, rgba(153,153,153, 0.5))), url('../img/cardboard_flat.png'),;*/
//    /*background-image: -webkit-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../img/cardboard_flat.png');*/
//    /*background-image: -moz-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../img/cardboard_flat.png');*/
//    /*background-image: -ms-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../img/cardboard_flat.png');*/
//    /*background-image: -o-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../img/cardboard_flat.png');*/
//    /*background-image: linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../img/cardboard_flat.png');*/
//
///*}*/
//
/*h1.letterpress{*/
    /*text-shadow: 0px 1px 1px #fff;*/
    /*color: #2B5A5A;*/
    /*font-size: 35px;*/
    /*margin: 5px 20px 5px 20px;*/
    /*width:40%;*/
    /*text-align: center;*/

/*}*/
///*h1.embossed {*/
//    /*text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;*/
//    /*color: #2B5A5A;*/
//    /*opacity: 0.3;*/
//    /*font: 30px;*/
///*}*/
//
//div#list_box {
//    border: 1px solid #d4d4d4;
//    margin-top: 10px;
//    border-radius: 8px;
//}
//
//
//img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
//
//
//
//ul.nav-pills li:hover {
//    cursor:pointer
//}
//div.small_scale {
//    width:75%;
//    left:12.5%;
//    position:relative;
//    padding:2px
//}
//
//div.big_scale {
//    width:99%;
//    left:0px;
//    position:relative;
//    padding:2px
//}
//
//
/*.axis path,*/
/*.line {*/
    /*fill: none;*/
    /*stroke: #013435;*/
    /*shape-rendering: crispEdges;*/
    /*stroke-width:2px*/

/*}*/
//
//.area {
//    /*fill: steelblue;*/
//    /*fill: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(1, 52, 53, 0.5)), color-stop(100%, #fff));*/
//    /*fill: -webkit-linear-gradient(top, rgba(1, 52, 53, 0.5), #fff);*/
//    /*fill: -moz-linear-gradient(top, rgba(1, 52, 53, 0.5), #fff);*/
//    /*fill: -ms-linear-gradient(top, rgba(1, 52, 53, 0.5), #fff);*/
//    /*fill: -o-linear-gradient(top, rgba(1, 52, 53, 0.5), #fff);*/
//    /*fill: linear-gradient(top, rgba(1, 52, 53, 0.5), #fff);*/
//    /*fill: #fff*/
//}
//
//#print-modal-controls a:hover{
//    cursor:pointer
//}
//
//#user_contribs
//{
//    width: 100%;
//    overflow: hidden;
//    margin-bottom: -1.875em; /* 30px */
//    -webkit-column-count: 2;
//    -webkit-column-gap: 1.875em; /* 30px */
//    -webkit-column-fill: auto;
//    -moz-column-count: 2;
//    -moz-column-gap: 1.875em; /* 30px */
//    -moz-column-fill: auto;
//    column-count: 2;
//    column-gap: 1.875em; /* 30px */
//    column-fill: auto;
//}
//.col1
//{
//    margin-bottom: 1.875em; /* 15px 30px */
//    -webkit-column-break-inside: avoid;
//    -moz-column-break-inside: avoid;
//    column-break-inside: avoid;
//}
//
//#user_box{
//    position:absolute;
//    right:0;
//}
//
//.dropdown-menu{
//    background-color:#ECF0F1;
//}
//.formbody {
//    padding:30px
//}
//path.map {
//fill: #B4BDC5
//}
//
//path.cell {
//    fill: #0d82df;
//    /*clip-path: url(#map_path)*/
//}
//
///*#region_search_box input {*/
// /*width: 100px;*/
// /*-moz-transition: width 0.5s ease-out;*/
// /*-webkit-transition: width 0.5s ease-out;*/
// /*transition: width 0.5s ease-out;*/
///*}*/
///*#region_search_box input:focus {*/
// /*width: 200px;*/
// /*-moz-transition: width 0.5s ease-out;*/
// /*-webkit-transition: width 0.5s ease-out;*/
// /*transition: width 0.5s ease-out;*/
///*}*/



