<tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"></td>
    <td class="size"></td>
    <td class="error" colspan="2"></td>
    <td>
        <div class="progress">
            <div class="bar" style="width:0;"></div>
        </div>
    </td>
    <td class="start">
        <button class="btn btn-primary"><i class="icon-upload icon-white"></i></button>
    <td class="cancel">
        <button class="btn btn-warning"><i class="icon-ban-circle icon-white"></i></button>
    </td>
</tr>