<table class="table table-hover">
    <tbody>
    <tr>
        <td>
            <div class="pull-left" style="font-size:36px;padding:25px"><i class="icon-upload icon-large"></i></div>
            <h3><a id="upload_image" href="#">Upload a Photo.</a></h3></td>
        <td>
            <div class="pull-left" style="font-size:36px;padding:25px"><i class="icon-facebook icon-large"></i></div>
            <h3><a id="facebook_image" href="#">Share a Photo from Facebook.</a></h3></td>
    </tr>
    </tbody>
</table>