<div id='map_div'>
    <div class='big_scale'>
        <table class='scale-img'>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class='well map-well' id='map_well'>
        <div id='map_canvas' class='map-canvas'></div>
        <div class='btn-group map-buttons'>
            <button class='btn btn-default' id='reverse'>Reverse</button>
        </div>
    </div>
</div>